.wrapper-3d {
	position: relative;
	perspective: 20vw;
	transform-style: preserve-3d;
}

.fold {
	overflow: hidden;
	width: 100vw;
	height: 80vh;
}

.square {
	width: 100%;
	padding-bottom: 75%;
}

.green {
	background-color: lightgreen;
}

.blue {
	background-color: lightblue;
}

.red {
    background-color: lightcoral;
}
