body {
	font-family: sans-serif;
	width: 100%;
	height: 100vh;
	margin: 0;
	background: #f0f0f0;
	font-family: "Source Sans Pro", sans-serif;
}

.screen {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100vh;
}

.wrapper-3d {
	position: relative;
	perspective: 250px;
	transform-style: preserve-3d;
}

.fold {
	overflow: hidden;
	width: 60vw;
	height: 80vh;
}
.fold-top {
	background: #e5e5ee;
	position: absolute;
	transform-origin: bottom center;
	left: 0;
	right: 0;
	bottom: 100%;
}

.fold-bottom {
	background: #e5e5ee;
	position: absolute;
	transform-origin: top center;
	right: 0;
	left: 0;
	top: 100%;
}
.fold-align {
	width: 100%;
	height: 100%;
}
.fold-bottom .fold-align {
	transform: translateY(-100%);
}
.fold-top .fold-align {
	transform: translateY(100%);
}

.fold-bottom {
	transform-origin: top center;
	transform: rotateX(120deg);
}

.fold-top {
	transform-origin: bottom center;
	transform: rotateX(-120deg);
}

.square {
	width: 100%;
	padding-bottom: 75%;
}
.green {
	/* background-color: lightgreen; */
	background: url(https://images.unsplash.com/photo-1588622056559-ea32476c6ec4);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.blue {
	/* background-color: lightblue; */
	background: url(https://images.unsplash.com/photo-1545748806-937529bd92f8);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.red {
	/* background-color: lightcoral; */
	background: url(https://images.unsplash.com/photo-1579129627111-4db2bc6cceab);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
h1 {
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-weight: 400;
}
